/* -------import fonts ------*/
@font-face {
    font-family: newfont;
    src: url("fonts/Quicksand-VariableFont_wght.ttf");
}

body, html{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: new   font, arial;
    font-size: 1.1em;
    z-index: 0;
}

.container{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

/*---- menu ------  */
nav{
    background-color: #0082e6;
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-break: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    border: 3;
    text-transform: uppercase;
}

a.active, a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}



/*header*/
header{
    display: flex;
    padding: 5px;
    flex-direction: row;
    width: 60vw;
    margin: 10px auto 10px auto;
    justify-content: space-between;
    text-align: left;
    
}

.pic{
    
}

.infos{
    text-align: left;
}

h1{
     margin: auto;
     text-align: left;
}

.infos ul{
    width: 100%;
    text-align: left;
}
.infos ul li{
    text-align: left;
}

#contact-me{
    flex: 1;
    float: right;
    text-align: center;
    margin: auto;
}

#button-contact{
    width: 150px;
    height: 50px;
    color: red;
}
h1, h2{
    color: purple;
    text-align: center;
    margin: auto;
 }

 .infos{
     text-align: left;
 }

button{
    border: 1px black solid;
    border-radius: 90px;
    width: 110px;
    height: 40px;
    padding: 10px;
    font-size: 0.8em;
    margin-top: 10px;
    color: red;
}

/*personal informations */
.personal-informations{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: auto;
}

.profile{
    flex: 3;
    padding: 10px;
    text-align: center;
    margin: auto;
}

.profile-text{
    width: 80%;
    margin: 4vh auto;
    line-height: 30px;
    text-align: justify;
}

/*skills*/
.skills{
    flex: 1;
    margin: 20px auto;
    text-align: center;
}  

/*portfolio*/
#portfolio{
    width: 1020px;
    margin: 10px auto auto auto;
    text-align: center;
    height:500px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.portfolio-list{
    text-align: center;
    flex: 1;
    margin: auto;
}

.portfolio-slider{
    flex: 1;
    height: 400px;
    overflow: hidden;
    margin: auto;
}

@keyframes slide-effect{
    0%{
        transform: translateX(-250px);
    }
    15%{
        transform: translateX(-500px);
    }
    30%{
        transform: translateX(-1000px);
    }
    45%{
        transform: translateX(-1500px);
    }
    60%{
        transform: translateX(-2000px);
    }
    75%{
        transform: translateX(-2250px);
    }
    95%{
        transform: translateX(-2550px);
    }
    100%{
        transform: translateX(-2000px);
    }
}

.slides{
    width: 3000px;
    animation: slide-effect 13s infinite;
}

.slide{
    width: 100%;
}

/*work-experience*/
#work-experience{
    width: 80vw;
    margin: 10px auto 20px auto;
    justify-content: center;
    text-align: center;
}

.work-experience-text{
    margin: 5px auto 5px auto;
    width: 60%;
    margin: auto;
    line-height: 30px;
    text-align: justify;
}

#work-experience a{
    color: purple;
    text-decoration: none;
}

/*testimony*/
#testimony{
    display: flex;
    flex-direction: column;  
    padding: 0;
    margin: 30px auto;
}

.testimony-box{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.testimony-box1{
   float: left;
   text-align: center;
   margin: 0 15px 10px auto;
   line-height: 30px;
}

.testimony-box2{
    float: right;
    text-align: center;
    margin: 0 auto 10px 15px;
    line-height: 30px;
}

/*contact*/
#contact{
    width: 80%;
    margin: 60px auto;
    text-align: center;
    align-content: center;
}

.contact-form{
    margin: 10px auto auto auto;    
    width: 80%;
    padding: 1em;
    border-radius: 90 px 90 px 90px 90px;
    text-align: center;
}


input{
    width: 60vw;
    box-sizing: border-box;
    margin: 7px;
    font-size: 1.1em;
}

textarea{
    width: 60vw;
    height: 250px;
    font-size: 1.2em;
}

textarea{
    height: 100px;
    vertical-align: top;
}

footer{ 
    bottom: 0;
    position: absolute;

}

footer a{
    color: purple;
}

/* medium screens*/
@media screen and (max-width: 768px){
    h1{
        font-size: 1.4em;
    }
    nav ul li{
        padding: 5px;
    }
    
   header{
       width: 100vw;
   }

   #general-informations{
        width:100%;
        margin: 10px auto;
       
   }

   .contact-me{
        width: 20%;
   }

    .personal-informations{
        width: 100%;
    }

   #portfolio{
        width: 100%;
        display: flex;
        padding: 0px;
    }

    .portfolio-list{
        text-align: center;
        flex: 1;
        margin: auto;
        width: 50%;
    }

    .portfolio-slider{
        flex: 1;
        height: 400px;
        overflow: hidden;
        margin: auto;
        width: 50%;
    }

    #work-experience{
        width: 100%;
    }

   .work-experience-text{
        width: 80%;
    }

    .contact{
        width: 100%;
    }
}

/*small screens*/
@media screen and (max-width: 576px){
    header{
        width: 100%;
        flex-direction: column;
        margin: 0;
        text-align: center;
    }
    .checkbtn{
        display: block;
    }

   nav ul li a{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px; 
        left: 0;
        text-align: center;
    }

    nav ul li{
        display: block;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover,a.active{
        background: none;
        color: #0082e6;
    }

    #general-informations{
        flex-direction: column;
    }

    .pic{
        margin: auto;
    }

    .infos{
        margin: auto;
        width: 100%;
    }
    #button-contact{
        margin: 30px auto 10px auto;
    }

    .personal-informations{
        width: 100%;
        margin: auto ;
        flex-direction: column;
    }

    .profile{
        width: 100%;
        padding: auto;
        margin: 10px auto;
        text-align: center;
    }

    .profile-text{
        width: 90%;
    }

   .skills{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    #programming-lang{
        margin-left: 10px;
    }

    #spoken-lang{
        margin-right: 10px;
    }

    #portfolio{
        width: 100%;
        margin-bottom: 40px;
        flex-direction: column;
        padding: 0;
    }

    .portfolio-list{
      display: inline-block;
      width: 80%;
      margin: auto;
      text-align: center;
    }

    .portfolio-slider{
        width: 90%;
        margin: auto;
        height: 400px;
        overflow: auto;
    }

    #work-experience{
        width: 100%;
        margin: auto 0;
    }

    .work-experience-text{
        width: 90%;
        margin: auto;
    }

    #contact{
        width: 100%;
        margin: auto;
    }

    .contact-form{
        width: 90%;
        margin: 0 auto 10px auto;
        padding: 10px;
    }   
}
