/* -------import fonts ------*/
@font-face {
    font-family: newfont;
    src: url("fonts/Quicksand-VariableFont_wght.ttf");
}


body, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: newfont;
    font-size: 1.1em;
    z-index: 0;


}


#container{
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.box{
    margin: 10px auto 10px auto;
}

/*  ----- header  ---- */
header{
    display: flex;
    padding: 5px;
    flex-direction: row;
    text-align: center;
    width: 80vw;
    margin: 10px auto 10px auto;
}

#general-informations{
    flex: 2;
    display: flex;
    flex-direction: row;
    margin: 10px auto auto 10px;
}

.pic{
    margin: auto;
}

.infos{
    width: 60%;
    margin-left: 5px;
}

#contact-me{
    flex: 1;
    float: right;
    text-align: center;
    margin: auto;
}


#button-contact{
    width: 150px;
    height: 50px;
    color: red;
}
h1, h2{
    color: purple;
    text-align: center;
 }


button{
    border: 1px black solid;
    border-radius: 90px 90px 90px 90px;
    width: 110px;
    height: 40px;
    padding: 10px;
    font-size: 0.8em;
    margin-top: 10px;
    color: red;
   
}


/*---- menu ------  */
nav{
    top: 0;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
 
}
ul li{
    text-decoration: none;
}
nav ul{
   padding: 0;
   text-align: center;
   margin: 0;

  }

  nav ul li{
      display: inline-block;
      padding: 20px;
  }

  nav ul li a{
      text-decoration: none;
      color: blue;
      
  }










.personal-informations{
    width: 75vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: auto;
}

.profile{
    flex: 3;
    padding: 10px;
    text-align: center;
    margin: auto;
}

.profile-text{
    width: 80%;
    margin: 4vh auto;
    line-height: 30px;
    text-align: justify;
    
}

.skills{
    flex: 1;
    margin: 20px auto;
    text-align: center;
}  

#portfolio{
    width: 1020px;
    margin: 10px auto auto auto;
    text-align: center;
    height:500px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}


.portfolio-list{
    text-align: center;
    flex: 1;
    margin: auto;
}



.portfolio-slider{
    flex: 1;
    height: 400px;
    overflow: hidden;
    margin: auto;
}


@keyframes slide-effect{
    0%{
        transform: translateX(-250px);
    }
    15%{
        transform: translateX(-500px);
    }
    30%{
        transform: translateX(-1000px);
    }
    45%{
        transform: translateX(-1500px);
    }
    60%{
        transform: translateX(-2000px);
    }
    75%{
        transform: translateX(-2250px);
    }
    95%{
        transform: translateX(-2550px);
    }
    100%{
        transform: translateX(-2000px);
    }
}

.slides{
    width: 3000px;
    animation: slide-effect 13s infinite;

}

.slide{
width: 100%;
}


#work-experience{
    width: 80vw;
    margin: 10px auto auto auto;
    justify-content: center;
    text-align: center;
}

.work-experience-text{
    width: 60%;
    margin: 5px auto 5px auto;
}

.contact{
    width: 80%;
    margin: 60px auto auto auto;
    text-align: center;
    align-content: center;
}

.contact-form{
    margin: 10px auto auto auto;    
    width: 80%;
    padding: 1em;
    border-radius: 90 px 90 px 90px 90px;
    text-align: center;
}

label{
    display:inline-block;
    width: 90px;
    text-align: right;
    padding: 10px;
}

input, textarea{
    width: 60%;
    box-sizing: border-box;
    
}

textarea{
    height: 100px;
    vertical-align: top;
}

footer{ 
    text-align: center;
}


/*responsive for medium screens*/

@media screen and (max-width: 768px){
    h1{
        font-size: 1.4em;
    }
    nav ul li{
        padding: 5px;
    }

   header{
       width: 100vw;
   }

   #general-informations{
        width:80vw;
        margin: 10px auto auto auto;
        text-align: center;
       
   }

   .contact-me{
        width: 20vw;
   }

    .personal-informations{
        width: 100vw;
}


   #portfolio{
        width: 100vw;
        display: flex;
        padding: 0px;
}


    .portfolio-list{
        text-align: center;
        flex: 1;
        margin: auto;
        width: 50vw;
}


    .portfolio-slider{
        flex: 1;
        height: 400px;
        overflow: hidden;
        margin: auto;
        width: 50vw;
}

    #work-experience{
        width: 100vw;
}

   .work-experience-text{
        width: 80%;
}


    .contact{
        width: 100vw;;
}
}

/*responsive for small screens*/
@media screen and (max-width: 576px){
    header{
        width: 100vw;
        flex-direction: column;
        margin: 0;
    }

    #button-contact{
        margin: auto;
    }

    nav ul li{
      padding: 5px;
  }

  .personal-informations{
      width: 100vw;
      margin: 0;
      flex-direction: column;
  }

  .profile{
      flex: 1;
      width: 100vw;
      padding: auto;
      margin: 0;
      border: 1px red solid;
  }

  .skills{
      display: flex;
      flex-direction: row ;
      padding: 15px;
      width: 100vw;
      margin: 0;
      text-align: center;
  }

  #portfolio{
      width: 100vw;
      margin: 0;
      flex-direction: column;
      padding: 0;
  }

  .portfolio-list{
      width: 100vw;
      margin: 0;
  }

  .portfolio-slider{
      margin: 0;
  }

  #work-experience{
      width: 100vw;
      margin: 0;
  }
} 