/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/*variables css*/
:root {
  --header-height: 3rem;
}

:root {
  --first-color: #8697d9;
  --dark-color: #070d1f;
  --dark-color-alt: #282b3a;
  --white-color: #e6e7e9;
}

:root {
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

:root {
  --z-fixed: 100;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*header*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  color: #8697d9;
}

.header__toggle {
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
}

/*nav*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.nav__content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: 0.25rem;
  background-color: var(--dark-color-alt);
  border-radius: 50%;
  cursor: pointer;
}

.nav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 0.25rem;
  margin-bottom: 0.8rem;
  width: 56px;
  height: 56px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}

.nav__img img {
  width: 46px;
}

.nav__name {
  display: block;
  color: var(--white-color);
}

.nav__profesion {
  font-size: var(--small-font-size);
}

.nav__menu {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.nav__item {
  margin: 2.5rem 0;
}

.nav__link {
  color: var(--white-color);
}

.nav__social {
  padding-top: 0.5rem;
}

.nav__social-icon {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-right: 1rem;
}

.nav__social-icon:hover {
  color: var(--first-color);
}

/*Aparecer menu*/
.show {
  left: 0;
}

/*Active menu*/
.active {
  color: var(--first-color);
}

/*min 768px*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo,
  .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    -ms-grid-columns: (max-content) 3;
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .nav__close,
  .nav__profesion {
    display: none;
  }
  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__img img {
    width: 26px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin: 0 0.25rem;
  }
  .nav__link {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
  }
  .nav__link:hover {
    background-color: #8697d9;
  }
  .active {
    background-color: #8697d9;
    color: var(--white-color);
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

/*infos*/
.infos {
  margin: 100px auto 10px auto;
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;

  img {
    margin: 20px auto;
  }

  &__text {
    h1 {
      color: #8697d9;
      margin: 50px auto 5px auto;
    }
    p {
      margin: 5px auto auto auto;
    }
  }
}

/*profile & skills*/
.about {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto;
  text-align: center;
  line-height: 2em;

  &__profile {
    width: 50%;
    margin: auto 20px auto 20px;

    h2 {
      margin: auto auto 20px auto;
      color: #8697d9;
    }

    &__text {
      margin: auto 30px auto auto;
    }
  }

  &__skills {
    h2 {
      margin: auto 30px;
      color: #8697d9;
    }
  }
}

/*portfolio*/
@keyframes slide-effect {
  0% {
    transform: translateX(-250px);
  }
  20% {
    transform: translateX(-750px);
  }
  40% {
    transform: translateX(-1000px);
  }
  60% {
    transform: translateX(-1500px);
  }
  80% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(-500px);
  }
}

/*portfolio*/
.portfolio {
  width: 1020px;
  margin: 10px auto auto auto;
  text-align: center;
  height: 500px;
  display: flex;
  flex-direction: row;
  padding: 10px;

  &__list {
    text-align: center;
    margin: auto;

    h2 {
      margin: auto;
      color: #8697d9;
    }

    ul li a {
      color: black;
      cursor: s;
    }
  }

  &__slider {
    width: 500px;
    height: 400px;
    overflow: hidden;
    margin: auto;

    &__slides {
      width: 2500px;
      animation: slide-effect 10s infinite;

      .slide {
        width: 100%;
      }
    }
  }
}

/*experience*/
.experience {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
  width: 90%;
}

/*studies*/
.studies {
  margin: 30px auto;
  text-align: center;

  h2 {
    margin: 10px auto;
    color: #8697d9;
  }

  &__list {
    margin: auto;
    text-align: left;
  }
}

/*work*/
.work {
  margin: auto;

  h2 {
    margin: 50px auto 0 auto;
    color: #8697d9;
  }
  &__list {
    margin: 5px auto;
    text-align: left;
  }
}

/*github*/
.github {
  width: 80%;
  margin: auto;

  h2 {
    margin: 30px auto 5px auto;
    text-align: center;
    color: #8697d9;
  }

  .calendar {
    width: 90%;
    margin: auto;
  }
}

/*testimonies*/
.testimonies {
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 30px auto;

  &__title {
    margin: auto 630px 15px auto;
    color: #8697d9;
  }

  &__text {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
  }
}

/*contact*/
.contact {
  margin: auto;
  color: #8697d9;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    margin: 40px auto 10px auto;
  }

  &__form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;

    input {
      margin: 10px auto 10px auto;
      width: 80%;
    }

    textarea {
      width: 80%;
      margin: auto auto 10px auto;
      height: 200px;
    }

    button {
      margin: auto;
      width: 100px;
      border-radius: 30px;
      height: 40px;
      background-color: #8697d9;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
/*footer*/
.footer {
  background-color: #8697d9;
  margin: 30px auto 0 auto;
  bottom: 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 2em;

  &__infos {
    margin: auto;

    h4 {
      margin: auto;
      font-size: 1.4em;
      color: white;
    }

    &__profession {
      li {
        margin: auto;
      }

      li:hover {
        color: white;
        border-bottom: 1px white solid;
        cursor: pointer;
      }
    }
  }

  &__links {
    margin: auto;
    text-align: center;

    h4 {
      color: white;
      font-size: 1.4em;
      margin-bottom: 5px;
    }

    ul li a {
      color: black;
      cursor: pointer;
    }

    ul li a:hover {
      color: white;
      border-bottom: 1px white solid;
    }
  }
}

/* max 1024px */
@media screen and (max-width: 1024px) {
  .infos {
    &__text {
      line-height: 1.9em;
    }
  }

  /*profile*/
  .about {
    width: 80%;

    &__skills {
      h2 {
        margin: 20px auto;
      }
    }
  }

  /*github*/
  .github {
    width: 90%;
    margin: auto;
  }

  /*testimonies*/
  .testimonies {
    &__title {
      margin: 30px auto 10px auto;
    }
    &__text {
      width: 90%;
      margin: 20px auto;
    }
  }
}

/* max 768px */
@media screen and (max-width: 768px) {
  .infos {
    width: 60%;
    line-height: 1.9em;
  }

  /*work*/
  .work {
    h2 {
      margin: 20px auto;
    }
  }

  /*github*/
  .github {
    width: 95%;
    margin: auto;
    overflow: hidden;

    .calendar {
      width: 100%;
      margin: auto;
      overflow: hidden;
    }
  }

  /*testimonies*/
  .testimonies {
    margin: auto;
    &__title {
      margin: 30px auto 10px auto;
    }
    &__text {
      width: 90%;
      margin: 10px auto;
      text-align: center;
    }
  }
}

/* max 576px */
@media screen and (max-width: 576px) {
  .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px auto;
    width: auto;

    img {
      margin: auto;
      width: 300px;
    }

    &__text {
      margin: auto;
      text-align: center;
      line-height: 2em;

      h1 {
        margin-bottom: 5px;
      }

      p {
        margin: 5px auto;
      }
    }
  }

  /*profile & skills*/
  .about {
    flex-direction: column;
    width: 90%;
    margin: auto;
    line-height: 2em;

    &__profile {
      width: 100%;
      margin: auto;
    }
  }

  /*portfolio*/
  .portfolio {
    width: 95%;
    flex-direction: column;
    height: max-content;

    &__slider {
      width: 100%;
    }
  }

  /*experience*/
  .experience {
    flex-direction: column;
  }

  /*studies*/
  .studies {
    margin: 30px auto 5px auto;
  }

  /*work*/
  .work {
    margin: 5px auto;

    h2 {
      margin: 30px auto;
    }
  }

  /*testimonies*/
  .testimonies {
    h2 {
      margin: auto auto 5px auto;
    }
    &__text {
      flex-direction: column;
      width: 90%;

      &__sample {
        margin: 10px auto;
      }
    }
  }

  /*github*/
  .github {
    width: 90%;
    margin: auto;
    overflow: hidden;
  }

  /*contact*/
  .contact {
    width: 80%;

    &__title {
      margin: 40px auto 10px auto;
    }

    &__form {
      width: 100%;

      input {
        margin: 10px auto 10px auto;
        width: 100%;
      }

      textarea {
        width: 100%;
        margin: auto auto 10px auto;
        height: 200px;
      }
    }
  }

  /*footer*/
  .footer {
    flex-direction: column;
  }
}
