body,
html {
  width: 100%;
  font-family: "raleway", "sans-serif";
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*---- menu ------  */
header {
  background-color: #7c7eff;
  height: 80px;
  width: 100%;
  line-height: 80px;
  font-weight: bold;
  text-align: center;
}

.menu {
  margin: auto;
}

.menu li {
  display: inline-block;
  line-height: 80px;
}

.menu li a {
  color: white;
  text-transform: uppercase;
  padding: 7px 13px;
}

a.active,
a:hover {
  background-color: blue;
  transition: 0.5s;
  border-radius: 15px;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/*infos*/
.infos {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  text-align: center;
}

.pic {
  margin: 35px auto;
}

.fab,
.far {
  color: blue;
}

.text {
  text-align: left;
  margin-top: 40px;
}

h1,
h2 {
  color: #6087ff;
  text-align: center;
  margin: auto;
  width: auto;
}

/*personal informations */
.personal-informations {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: auto;
}

.profile {
  padding: 10px;
  text-align: center;
  margin: auto;
}

.profile-text {
  width: 80%;
  margin: 4vh auto;
  line-height: 30px;
  text-align: justify;
}

/*skills*/
.skills {
  flex: 1;
  margin: 20px auto;
  text-align: center;
}

/*portfolio*/
#portfolio {
  width: 900px;
  margin: 10px auto;
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.portfolio-list {
  width: 300px;
  text-align: left;
  margin: auto;
}

div div ul li {
  text-align: justify;
}
div div ul li a {
  color: black;
}

.portfolio-slider {
  width: 300px;
  height: 400px;
  overflow: hidden;
  margin: auto;
}

@keyframes slide-effect {
  0% {
    transform: translateX(0);
  }
  12.5% {
    transform: translateX(-500px);
  }
  25% {
    transform: translateX(-1000px);
  }
  37.5% {
    transform: translateX(-1500px);
  }
  50% {
    transform: translateX(-2000px);
  }
  62.5% {
    transform: translateX(-2500px);
  }
  75% {
    transform: translateX(-3000px);
  }
  87.5% {
    transform: translateX(-3250px);
  }
  100% {
    transform: translateX(-3250px);
  }
}

.slides {
  width: calc(500px * 8);
  animation: slide-effect 20s infinite;
}

.slide {
  width: 100%;
}

/*work-experience*/
#work {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.work-experience {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}
.work-experience-title {
  margin: 5px auto;
}

.work-experience-text {
  margin: 15px auto 5px auto;
  width: 100%;
  text-align: justify;
}

.work-experience-text a {
  color: #7c7eff;
}

/*testimonies*/
#testimonies {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 35%;
}

.testimonies-boxes {
  display: flex;
  flex-direction: column;
}

.testimonies-box {
  text-align: justify;
  margin: 5px auto 0 auto;
  display: flex;
  flex-direction: column;
}
.testimonies-box a {
  color: #7c7eff;
}

/*githutb*/
#github {
  width: 90%;
  margin: 10px auto;
  overflow: hidden;
  text-align: center;
}

.github-text {
  margin: 15px auto;
  text-align: center;
}

.github-text a {
  color: #6087ff;
}
/*contact*/
#contact {
  width: 80%;
  margin: 60px auto;
  text-align: center;
  align-content: center;
}

.contact-form {
  margin: 10px auto auto auto;
  width: 100%;
  padding: 1em;
  text-align: center;
}

#name,
#mail {
  width: 60vw;
  box-sizing: border-box;
  margin: 7px;
  font-size: 1.1em;
}

textarea {
  width: 60vw;
  height: 150px;
  font-size: 1.2em;
  vertical-align: top;
}

.button-submit {
  margin: 15px auto;
  font-weight: bold;
}

footer {
  bottom: 0;
  background-color: #8ebaff;
  color: blue;
  text-align: center;
}

footer a {
  color: white;
  margin: auto;
}

/* medium screens*/
@media screen and (max-width: 1024px) {
  /*menu*/
  header {
    height: 50px;
  }

  .checkbtn {
    display: block;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: red;
    top: 45px;
    left: -1000%;
    text-align: center;
    transition: all 0.5s;
  }

  .menu li {
    display: block;
    margin-right: 50px 0;
    line-height: 30px;
  }

  .menu li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background-color: none;
    color: red;
  }

  #check:checked ~ ul {
    left: 0;
  }
  /*personal informations*/
  .personal-informations {
    width: 90%;
  }

  #portfolio {
    width: 90%;
    display: flex;
    padding: 0px;
    margin: auto;
  }

  .portfolio-list {
    text-align: center;
    flex: 1;
    margin: auto;
    width: 50%;
  }

  .portfolio-slider {
    flex: 1;
    height: 400px;
    overflow: hidden;
    margin: auto;
    width: 45%;
  }

  #work-experience {
    width: autoa;
    margin: 30px auto;
  }

  .work-experience-text {
    width: 80%;
  }

  #testimonies {
    margin: 30px auto;
  }

  .testimonies-title {
    margin: 10px auto;
  }

  .contact {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
}

/*small screens*/
@media screen and (max-width: 576px) {
  .container {
    margin: auto;
  }

  #general-informations {
    flex-direction: column;
  }

  .infos {
    flex-direction: column;
  }

  .pic {
    margin: auto;
  }

  .text {
    margin: auto;
    width: 320px;
  }

  .personal-informations {
    width: 100%;
    margin: auto;
    flex-direction: column;
  }

  .profile {
    width: 90%;
    padding: auto;
    margin: 10px 0 auto 0;
    text-align: center;
  }

  .profile-text {
    width: 90%;
    margin: auto;
  }

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    text-align: center;
  }

  #programming-lang {
    margin: auto;
  }

  #spoken-lang {
    margin: auto;
  }

  #portfolio {
    width: 300px;
    height: 600px;
    margin: auto auto 60px auto;
    flex-direction: column;
    padding: 0;
  }

  .portfolio-list {
    display: inline-block;
    width: 90%;
    margin: auto;
    text-align: left;
  }

  .portfolio-slider {
    width: 90%;
    margin: auto;
    height: 400px;
    overflow: auto;
  }

  #work {
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }

  .work-experience {
    width: 100%;
  }

  .work-experience-text {
    width: 90%;
    text-align: justify;
    margin: 20px auto;
  }

  #testimonies {
    width: 95%;
    margin: 10px auto;
  }

  #contact {
    width: 90%;
    margin: auto;
  }

  .contact-form {
    width: 95%;
    margin: 0 auto 10px auto;
    padding: 10px;
  }

  #name,
  #mail,
  textarea {
    width: 95%;
  }

  footer {
    width: 100%;
    margin: auto;
  }
}
